<hr class="m-0">

<div *ngIf="!_filtered && _connectionToDB">
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="filter">
    <div class="w-100">
      <h2 class="mb-5">Filter</h2>
      <div class="resume-content mr-auto">
        <div class="form-container">
          <div class="divTable blueTable">
            <div class="divTableBody">
              <div class="divTableRow">
                <div class="divTableCell">Date From: </div>
                <div class="divTableCell">
                  <input type="datetime-local" name="sampleTimestamp" [(ngModel)]="sample_timestamp_dateFrom" />
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Date To: </div>
                <div class="divTableCell">
                  <input type="datetime-local" name="sampleTimestamp" [(ngModel)]="sample_timestamp_dateTo" />
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Workstation: </div>
                <div class="divTableCell">
                  <select [(ngModel)]="selectedWorkstation" name="workstation_id_filter">
                    <option></option>
                    <option [ngValue]="workstation.station_id" *ngFor="let workstation of workstations">
                      {{workstation.station_name}}</option>
                  </select>
                </div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Sensor: </div>
                <div class="divTableCell">
                  <select [(ngModel)]="selectedSensor" name="sensor_id_filter">
                    <option></option>
                    <option  *ngFor="let sensor of sensors" [ngValue]="sensor.sensor_id">{{sensor.sensor_name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <br>
          <button class="btn"
            (click)="filterSamples(sample_timestamp_dateFrom, sample_timestamp_dateTo, selectedWorkstation, selectedSensor)">FILTER</button><br>

        </div>
      </div>
    </div>
  </section>
</div>

<div *ngIf="_filtered">

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="filter">
    <div class="w-100">
      <h2 class="mb-5">Filtered Samples</h2>
      <div class="my-auto">
        <div class="resume-content mr-auto">
          <div class="form-container">
            <div class="divTable blueTable">
              <div class="divTableBody">
                <div class="divTableRow">
                  <div class="divTableCell"><b>Value</b></div>
                  <div class="divTableCell"><b>Timestamp</b></div>
                  <div class="divTableCell"></div>
                </div>
                <div *ngFor="let sample of filteredSamples" class="divTableRow">
                  <div class="divTableCell">{{sample.value}}</div>
                  <div class="divTableCell">{{sample.timestamp}}</div>
                  <div class="divTableCell"><img src="../../../assets/img/test-tube.svg" width="25px" height="25px">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <br>
      <button class="btn back" (click)="backToFilterView()">Back</button><br>

    </div>
</section>
</div>