<div *ngIf="_navigateToSamples">
<app-sample></app-sample>
</div>
<div *ngIf="!_navigateToSamples">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="browse">
        <div class="my-auto">
            <h3 class="mb-5">Workstation selected: {{workstation_name}} <img src="../../../../assets/img/workstation.svg" width="25px" height="25px"/></h3>
            <h3 class="mb-5">Sensors:</h3>
            <div class="resume-content mr-auto">
                <div class="form-container">
                    <div class="divTable blueTable">
                        <div class="divTableBody">
                            <div class="divTableRow">
                                <div class="divTableCell"><b>Name</b></div>
                                <div class="divTableCell"><b>Description</b></div>
                                <div class="divTableCell"><b>View</b></div>
                            </div>
                            <div *ngFor="let sensor of sensors" class="divTableRow">
                                <div class="divTableCell">{{sensor.sensor_name}}</div>
                                <div class="divTableCell">{{sensor.sensor_description}}</div>
                                <div class="divTableCell"><a (click)="navigateToSamples(sensor.sensor_id, sensor.sensor_name)"><img src="../../../assets/img/smoke-detector.svg"  width="25px" height="25px"></a></div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <button class="btn back" (click)="backToWorkstations()">BACK</button>
                </div>
            </div>
        </div>
    </section>
</div>

